.d3-tip {
    position: absolute;
    width: auto;
    height: auto;
    padding: 10px;
    font: 12px sans-serif;
    text-align: center;
    color: black;
    background: #34f4ef;
    border: 0;
    border-radius: 10px;
    display: none;
}


/* .axis-text {
    font-family: sans-serif;
    font-weight: bold;
    text-anchor: middle;
    font-size: 12px;
} */